*.json
*.log
*.txt
__pycache__/
*.pyc
.env
.venv/
venv*/
.idea/
.vscode/
.DS_Store
instance
*.sqlite3
*.db
*.db-journal
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache/
migrations/
*.pot
*.mo
*.log
celerybeat-schedule
*.pid
*.seed
*.cover
.coverage.*
nosetests.xml
coverage.xml
vosk-model-small-en-us-0.15/