Jinja2==3.1.4
pytz==2024.1
python-dateutil==2.9.0.post0
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-multipart==0.0.9
vosk==0.3.45
soundfile==0.12.1
anthropic==0.39.0
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
python-dotenv
python-multipart
weasyprint==62.3
resend==2.4.0
vosk==0.3.45
